/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}

.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

.jumbotron {
  padding: 5rem 0rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  background-image: url(/image/Background.jpg);
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 36px;
  margin-bottom: 50px;
}

.jumbotron .display-4 span {
  font-weight: 700;
}

/* Our Story */
.ourstory {
  margin-top: 100px;
  text-align: center;
}

.ourstory h3 {
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 50px;
}

.ourstory h3 span {
  font-weight: 500;
}

.ourstory p {
  font-size: 18px;
  color: #acacac;
  font-weight: 200;
  margin: 20px 0;
}

/* Testimonial */
.testimonial {
  margin-top: 100px;
}

.testimonial h5 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

.testimonial figure img {
  width: 60px;
  margin: 30px 10px 10px;
  opacity: 0.6;
}

.testimonial figure img.utama {
  width: 90px;
  opacity: 1;
  margin-top: 10px;
}

.testimonial figure h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color: #1c2c5d;
}

.testimonial figure p {
  font-size: 12px;
  color: #acacac;
  margin-top: -5px;
}

.testimonial figcaption {
  text-align: center;
}

/* footer */
.footer {
  margin-top: 100px;
}

.footer p {
  color: #acacac;
  font-size: 18px;
}

/* Menu */
.menu {
  margin-top: 100px;
}

.menu h5 {
  text-align: center;
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.menu h5 span {
  font-weight: 500;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
}

/* DESKTOP */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  /* Our Story */
  .col-lg-5 {
    margin-left: 30px;
  }

  .ourstory {
    text-align: left;
  }

  .ourstory h3 {
    font-size: 48px;
  }

  /* testimonial */
  .testimonial h5 {
    font-size: 32px;
  }

  /* Menu */
  .menu h5 {
    font-size: 48px;
  }
}
